    @keyframes slidein {
      from {
        opacity: 0;
      }

      80% {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
    .highlight-overlay {
      animation-duration: 1.2s;
      /* animation-name: slidein; */
    }

    :host {
      visibility: visible !important;
    }
    :host > * {
    }

    .highlight-overlay, .highlight-overlay:before, .highlight-overlay:after {
      --border-size: 2px;
      --color-1-size: 10px;
      --color-2-size: 10px;
      --color-1: black;
      --color-2: white;
    }
    .highlight-overlay {
      background-color: rgb(123 201 255 / 52%);
      pointer-events: none;
    }
    .highlight-overlay:before {
      content: "";
      position: absolute;
      inset: -1px;

      border: solid;
      border-image: repeating-linear-gradient( to right, var(--color-1) calc(0 * var(--color-1-size) + 0 * var(--color-2-size)), var(--color-1) calc(1 * var(--color-1-size) + 0 * var(--color-2-size)), var(--color-2) calc(1 * var(--color-1-size) + 0 * var(--color-2-size)), var(--color-2) calc(1 * var(--color-1-size) + 1 * var(--color-2-size)) );
      border-image-slice: 1;
      border-image-width: var(--border-size) 0;
    }
    .highlight-overlay:after {
      content: "";
      position: absolute;
      inset: -1px;

      border: solid;
      border-image: repeating-linear-gradient( to bottom, var(--color-1) calc(0 * var(--color-1-size) + 0 * var(--color-2-size)), var(--color-1) calc(1 * var(--color-1-size) + 0 * var(--color-2-size)), var(--color-2) calc(1 * var(--color-1-size) + 0 * var(--color-2-size)), var(--color-2) calc(1 * var(--color-1-size) + 1 * var(--color-2-size)) );
      border-image-slice: 1;
      border-image-width: 0 var(--border-size);
    }

    iframe {
      border: none;
      position: fixed;
      inset: 0;
      height: 100%;
      width: 100%;
      z-index: 1000000000000000;
      color-scheme: dark;
    }
